<div id="titleModal" class="modal">
    <div class="modal-content">
        <h3>대화 제목 수정</h3>
        <input type="text" id="titleInput">
        <div class="modal-actions">
            <button id="titleCancel">취소</button>
            <button id="titleSave">저장</button>
        </div>
    </div>
</div>

<div id="wordModal" class="modal">
    <div class="modal-content">
        <h3>단어 추가</h3>
        <input type="text" id="wordInput">
        <input type="text" id="meaningInput">
        <button id="wordSave">저장</button>
    </div>
</div>
